newproject2/bin/Debug/net8.0/appsettings.Development.json
newproject2/bin/Debug/net8.0/appsettings.json
newproject2/bin/Debug/net8.0/Azure.Core.dll
newproject2/bin/Debug/net8.0/Azure.Identity.dll
newproject2/bin/Debug/net8.0/Humanizer.dll
newproject2/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
newproject2/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
newproject2/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
newproject2/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
newproject2/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
newproject2/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
newproject2/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
newproject2/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
newproject2/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
newproject2/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
newproject2/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
newproject2/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
newproject2/bin/Debug/net8.0/Microsoft.Identity.Client.dll
newproject2/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
newproject2/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
newproject2/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
newproject2/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
newproject2/bin/Debug/net8.0/Mono.TextTemplating.dll
newproject2/bin/Debug/net8.0/newproject2
newproject2/bin/Debug/net8.0/newproject2.deps.json
newproject2/bin/Debug/net8.0/newproject2.dll
newproject2/bin/Debug/net8.0/newproject2.pdb
newproject2/bin/Debug/net8.0/newproject2.runtimeconfig.json
newproject2/bin/Debug/net8.0/newproject2.staticwebassets.runtime.json
newproject2/bin/Debug/net8.0/System.CodeDom.dll
newproject2/bin/Debug/net8.0/System.Composition.AttributedModel.dll
newproject2/bin/Debug/net8.0/System.Composition.Convention.dll
newproject2/bin/Debug/net8.0/System.Composition.Hosting.dll
newproject2/bin/Debug/net8.0/System.Composition.Runtime.dll
newproject2/bin/Debug/net8.0/System.Composition.TypedParts.dll
newproject2/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
newproject2/bin/Debug/net8.0/System.Drawing.Common.dll
newproject2/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
newproject2/bin/Debug/net8.0/System.Memory.Data.dll
newproject2/bin/Debug/net8.0/System.Runtime.Caching.dll
newproject2/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
newproject2/bin/Debug/net8.0/System.Security.Permissions.dll
newproject2/bin/Debug/net8.0/System.Text.Json.dll
newproject2/bin/Debug/net8.0/System.Windows.Extensions.dll
newproject2/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
newproject2/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
newproject2/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
newproject2/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
newproject2/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
newproject2/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
newproject2/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
newproject2/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
newproject2/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
newproject2/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
newproject2/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
newproject2/obj/newproject2.csproj.EntityFrameworkCore.targets
newproject2/obj/newproject2.csproj.nuget.dgspec.json
newproject2/obj/newproject2.csproj.nuget.g.props
newproject2/obj/newproject2.csproj.nuget.g.targets
newproject2/obj/project.assets.json
newproject2/obj/project.nuget.cache
newproject2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
newproject2/obj/Debug/net8.0/apphost
newproject2/obj/Debug/net8.0/newproject2.AssemblyInfo.cs
newproject2/obj/Debug/net8.0/newproject2.AssemblyInfoInputs.cache
newproject2/obj/Debug/net8.0/newproject2.assets.cache
newproject2/obj/Debug/net8.0/newproject2.csproj.AssemblyReference.cache
newproject2/obj/Debug/net8.0/newproject2.csproj.CopyComplete
newproject2/obj/Debug/net8.0/newproject2.csproj.CoreCompileInputs.cache
newproject2/obj/Debug/net8.0/newproject2.csproj.FileListAbsolute.txt
newproject2/obj/Debug/net8.0/newproject2.dll
newproject2/obj/Debug/net8.0/newproject2.GeneratedMSBuildEditorConfig.editorconfig
newproject2/obj/Debug/net8.0/newproject2.genruntimeconfig.cache
newproject2/obj/Debug/net8.0/newproject2.GlobalUsings.g.cs
newproject2/obj/Debug/net8.0/newproject2.MvcApplicationPartsAssemblyInfo.cache
newproject2/obj/Debug/net8.0/newproject2.pdb
newproject2/obj/Debug/net8.0/newproject2.RazorAssemblyInfo.cache
newproject2/obj/Debug/net8.0/newproject2.RazorAssemblyInfo.cs
newproject2/obj/Debug/net8.0/newproject2.sourcelink.json
newproject2/obj/Debug/net8.0/staticwebassets.build.json
newproject2/obj/Debug/net8.0/staticwebassets.development.json
newproject2/obj/Debug/net8.0/staticwebassets.pack.json
newproject2/obj/Debug/net8.0/ref/newproject2.dll
newproject2/obj/Debug/net8.0/refint/newproject2.dll
newproject2/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
newproject2/obj/Debug/net8.0/scopedcss/bundle/newproject2.styles.css
newproject2/obj/Debug/net8.0/scopedcss/projectbundle/newproject2.bundle.scp.css
newproject2/obj/Debug/net8.0/staticwebassets/msbuild.build.newproject2.props
newproject2/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.newproject2.props
newproject2/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.newproject2.props
newproject2/obj/Debug/net8.0/staticwebassets/msbuild.newproject2.Microsoft.AspNetCore.StaticWebAssets.props
newproject2/obj/newproject2.csproj.nuget.dgspec.json
newproject2/obj/newproject2.csproj.nuget.g.props
newproject2/obj/newproject2.csproj.nuget.g.targets
newproject2/obj/project.assets.json
newproject2/obj/project.nuget.cache
newproject2/obj/newproject2.csproj.nuget.dgspec.json
newproject2/obj/newproject2.csproj.nuget.g.props
newproject2/obj/newproject2.csproj.nuget.g.targets
newproject2/obj/project.assets.json
newproject2/obj/project.nuget.cache
newproject2/obj/newproject2.csproj.nuget.dgspec.json
